body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.hidden {
    display: none;
}

.extraSpace {
    padding-top: 3em;
    padding-bottom: 3em;
}

.blue-back-bottom {
    background-color: #2D4F72;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.blue-back-top {
    background-color: #2D4F72;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.blue-text {
    font-weight: 900;
    color: #2D4F72;
}

.wrapper {
    overflow: hidden;
}

.rtl {
    direction: rtl;
}

.container-fluid {
    padding-left: 0;
}

.white-space {
    overflow: hidden;
    white-space: nowrap;
}

.img-fluid {
    width: auto !important;
    height: 250px !important;
    margin: 3px !important;
}

.arrow-div {
    padding: 3px !important;
}

.arrow-container {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.arrow-container:hover {
    border-color: #134880;
    cursor: pointer;
}

#left {
    background: url('../Assets/arrow-gray-left.png') no-repeat center;
    width: 10px;
    height: 16px;
}

#left:hover {
    background: url('../Assets/arrow-blue-left.png') no-repeat center;
}

#right {
    background: url('../Assets/arrow-gray-right.png') no-repeat center;
    width: 10px;
    height: 16px;
}

#right:hover {
    background: url('../Assets/arrow-blue-right.png') no-repeat center;
}

#carousel1 #carousel2 {
    position: relative;
    overflow: hidden;
}

#carousel1 ul {
    position: relative;
    height: 250px;
    list-style: none;
    margin-right: -15px !important;
}

#carousel1 ul li {
    display: inline-block;
}

.specialCol {
    padding-right: 0;
}

.specialRow {
    margin-left: 0;
}

.specialRow2 {
    margin-right: 0;
}

#carousel2 ul {
    position: relative;
    height: 250px;
    list-style: none;
}

#carousel2 ul li {
    display: inline-block;
}

.no-padding {
    padding: 0 !important;
}



/*Media query*/
@media (max-width: 575.98px) {
    .arrow-div {
        padding: 0 auto;
    }

    .img-fluid {
        height: 200px !important;
    }

    #carousel1 ul {
        height: 200px !important;
    }

    #carousel2 ul {
        height: 200px !important;
    }
}
